In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import tflearn

In [2]:
# load the data
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# analyzing the data, to know the number of rows and columns and see if there are any missing data
df.shape
print(" The number of null values is: " , df.isnull().values.sum())
print(df.isnull().sum())

 The number of null values is:  0
RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
X = df.iloc[:,3:13].values
y = df.iloc[:,13].values

In [6]:
#encoding categorical data
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
#label encoder 1
le_x_1 = LabelEncoder()
X[:,1] = le_x_1.fit_transform(X[:,1])
#label encoder 2
le_x_2 = LabelEncoder()
X[:,2] = le_x_2.fit_transform(X[:,2])

# one hot encoder on Features, Geography and Gender
onehotencoder = OneHotEncoder(categorical_features=[1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:,1:]

In [7]:
#spliting the data into training and test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state= 0)
# reshape y_train and y_test to [none,1]
y_train = np.reshape(y_train,(-1,1))
y_test = np.reshape(y_test,(-1,1))

In [8]:
# I will use feature scaling to have all the features to scale to  mean of 0 and standard deviation of 1
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [9]:
# build the neural network
net = tflearn.input_data(shape=[None,11])
net = tflearn.fully_connected(net,6,activation='relu')
net = tflearn.dropout(net,0.5)
net = tflearn.fully_connected(net,6,activation='relu')
net = tflearn.dropout(net,0.5)
net = tflearn.fully_connected(net,1,activation='tanh')
net = tflearn.regression(net)

In [10]:
# define model
model = tflearn.DNN(net)
#we start training by applying Gradient Descent Algorithm
model.fit(X_train,y_train,n_epoch = 10,batch_size = 16,validation_set= (X_test,y_test),show_metric = True,run_id = "dense_model")

Training Step: 4999  | total loss: nan | time: 4.323s
| Adam | epoch: 010 | loss: nan - binary_acc: 0.8065 -- iter: 7984/8000
Training Step: 5000  | total loss: nan | time: 5.515s
| Adam | epoch: 010 | loss: nan - binary_acc: 0.8133 | val_loss: nan - val_acc: 0.7975 -- iter: 8000/8000
--

## Accuracy of 0.81 was outputted by the Model.